<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Forgot Password</title>
<style>

h1 {
    color: #78ab46;
}
.col-md-4{
    padding: 20px;
    background-color: white;
}
body {
    background-color: #efefef;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}
</style>

</head>


<body>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fas fa-lock" style="font-size:2em;"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>Enter your e-mail address and we'll send you a link to reset your password.</p>
                            <div class="panel-body">

                                <!-- <div th:if="${success}">
                                    <div class="alert alert-info"><span th:text="${success}"></span></div>
                                </div>
                                <div th:if="${emailError}">
                                    <div class="alert alert-danger"><span th:text="${emailError}"></span></div>
                                </div> -->

                                <form th:action="@{/forgot-password}" th:object="${passwordForgot}" method="post">
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Email Address"
                                                   aria-describedby="basic-addon1" id="email"
                                                   th:field="*{email}" th:errorClass="is-invalid"/>
                                        </div>
                                        <span class="text-danger"
                                              th:if="${#fields.hasErrors('email')}"
                                              th:errors="*{email}"></span>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        New user? <a href="/" th:href="@{/signup}">Register</a>
                    </div>
                    <div class="col-md-12">
                        Already registered? <a href="/" th:href="@{/login}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>